body {
    background-color:#ecebeb;
}

/*-------------
header
--------------*/

.jumbotron {
    background-color: #7083be;
    height: 100px;
    margin: 0px;
    padding: 0px;
    
}
    
h1 {
    font-family: 'Simonetta', cursive;
    font-variant: small-caps;
    text-align: center;
    background-image:linear-gradient(#7083be, #364071);
    text-shadow: 2px 2px black;
    color: #ecebeb;
    /*border: 1px solid red;*/
    margin: 0px;
    padding: 20px;
}

/*--------------
start page
---------------*/

.content{
    margin-top: 65px;
}

.btn {
    font-family: 'Libre Baskerville', serif;
    /*border: 10px solid green;*/
    padding: 5px 40px 5px 40px;
    font-size: 30px;
    background-image:linear-gradient(#313233, #000000);
    color: #ecebeb;
    text-shadow: 2px 2px black;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.background-image {
    border: 1px solid black;
    height: 891px;
    margin-top: 55px;
    padding: 0px;
}

.cast-img {
    width: 100%;
    padding: 0px;
    margin: 0px;    
    
}

/*--------------
main
---------------*/

.questions {
    width: 100%;
    border:2px solid black;
    height: 1000px;
    padding: 50px;
}

.timer {
    font-family: 'Libre Baskerville', serif;
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: center;
}

.submit {
    font-family: 'Libre Baskerville', serif;
    /*border: 10px solid green;*/
    padding: 5px 40px 5px 40px;
    font-size: 30px;
    background-image:linear-gradient(#313233, #000000);
    color: #ecebeb;
    text-shadow: 2px 2px black;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: bold;
}

.form-check {
    font-family: 'Libre Baskerville', serif;
}

/*----------------
end page
-----------------*/

.results {
    border: 1px solid red;
    width: 300px;
    height: 200px;
    margin: 50%;
}