body {
    background-color:#ecebeb;
}
    
h1 {
    font-family: 'Simonetta', cursive;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    text-align: center;
    background-image:linear-gradient(#7083be, #364071);
    text-shadow: 2px 2px black;
    color: #ecebeb;
    /*border: 1px solid red;*/
    margin: 0px;
    padding: 20px;
}

.jumbotron {
    background-color: #7083be;
    background-image: url(../assets/images/frasiertitle.jpg);
    height: 100px;
    margin: 0px;
    padding: 0px;
    
}

.btn {
    font-family: 'Simonetta', cursive;
    /*border: 10px solid green;*/
    padding: 5px 40px 5px 40px;
    font-size: 30px;
    background-image:linear-gradient(#7083be, #364071);
    color: #ecebeb;
    text-shadow: 2px 2px black;
}

.background-image {
    border: 1px solid black;
    height: 500px;
    margin-top: 55px;
    padding: 0px;
}

.cast-img {
    width: 100%;
    padding: 0px;
    margin: 0px;    
    
}

.second {
    font-family: 'Libre Baskerville', serif;
    font-size: 100px;
}

.timer {
    width: 300px;
    height: 140px;
    background-color: red;
    color: black;
    text-align: center;
}

.questions {
    width: 100%;
    border:2px solid red;
}

.timer {
    font-family: 'Libre Baskerville', serif;
    background-color: black;
    color: white;
    font-size: 40px;

}